$primary-color: #414141;
$secondary-color: lighten($primary-color, 40%);
$shadow: 0px 0px 172px -90px rgba(0,0,0,0.75);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@keyframes slide-in-title {
    from {
        transform: translateX(-250%);
    }
    to {
        transform: translateX(0);
    }
}

body {
    width: 100vw;
    height: 100vh;
    background: url('./img/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Photo by NeONBRAND on Unsplash */
    overflow-x: hidden;
}

.banner {
    height: 100vh;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 72px;
        color: white;
        text-transform: uppercase;
    }

    .first {
        animation: slide-in-title 0.6s ease-in-out;
    }

    .second {
        animation: slide-in-title 0.8s ease-in-out;
    }

    .third {
        animation: slide-in-title 1s ease-in-out;
    }

    .fourth {
        animation: slide-in-title 1.2s ease-in-out;
    }
}

.hamburger-box {
    width: 70px;
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .hamburger-btn {
        width: 50px;
        height: 4px;
        background: $primary-color;
        position: relative;
    }

    .hamburger-btn::before,
    .hamburger-btn::after {
        content: '';
        width: 50px;
        height: 4px;
        position: absolute;
        background: $primary-color;
        transition: all 0.1s ease-in-out;
    }

    .hamburger-btn::before {
        top: -15px;
    }

    .hamburger-btn::after {
        top: 15px;
    }
}

.hamburger-box:hover {
    .hamburger-btn::before,
    .hamburger-btn::after {
        width: 35px;
        right: 0;
    }
}

.menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(+100%);
    transition: all 0.2s ease-in-out;
    z-index: 1;
    box-shadow: $shadow;

    .close {
        position: absolute;
        top: 0;
        right: 0;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        transition: transform 0.2s ease;

        .cross {
            width: 50px;
            height: 4px;
            background: white;
            transform: rotate(45deg);
        }

        .cross::before {
            position: absolute;
            content: '';
            width: 50px;
            height: 4px;
            background: white;
            transform: rotate(90deg);
        }
    }

    .close:hover {
        transform: rotate(180deg);
    }

    ul {
        list-style: none;
        z-index: 1;

        li {
            padding: 20px;

            a {
                color: white;
                text-decoration: none;
                font-size: 30px;
            }
        }
    }
}

.visible {
    transform: translateX(0);
}

.about {
    width: 100vw;
    height: 70vh;
    background: white;
    box-shadow: $shadow;

    .box-wrapper {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

        .left {
            background: url('./img//background.jpg') no-repeat; /* Photo by NeONBRAND on Unsplash */
            background-position: right;
            background-size: cover;
        }

        .right {
            padding: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            p {
                font-size: 25px;
            }
        }

    }
}

.tutorials {

    width: 100vw;
    height: 80vh;
    margin-top: 30vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: $shadow;

    .tutorials-wrapper {
        width: 90%;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: repeat(auto-fit, 1fr);
        grid-gap: 25px;
        .tutorial-box {
            background: $secondary-color;
            padding: 30px;
            border: 1px solid $primary-color;
            transition: all 0.1s ease;

            h3 {
                margin-top: 15px;
                text-align: center;
            }
        }

        .tutorial-box:hover {
            background-color: $primary-color;
            color: white;
        }
    }
}

.contact-wrapper {
    padding: 20% 0;
    width: 100vw;
    height: 100vh;
    margin-top: 30vh;
    background: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    align-items: center;
    box-shadow: $shadow;

    .socials {
        width: 70%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        .socials-icons {
            padding: 30px;
            display: flex;

            img {
                margin: 20px;
                transition: background-color 0.2s ease-in;
            }

            img:hover {
                cursor: pointer;
            }
        }
    }

    .contact {
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            text-align: center;
        }

        .contact-form-box {
            width: 100%;
            margin: 0 auto;
            padding: 30px;
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                input,
                textarea {
                    width: 300px;
                    padding: 15px 10px;
                    font-size: 18px;
                    margin: 15px 0;
                    outline: none;
                    border: none;
                    border-bottom: 2px solid black;
                    background: transparent;
                    text-align: center;
                }

                textarea {
                    resize: none;
                }

                input:focus,
                textarea:focus {
                    background: lighten($secondary-color, 30%);
                }

                input[type=submit] {
                    border: none;
                    background: $secondary-color;
                    color: $primary-color;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    transition: all 0.1s ease-in-out;
                }

                input[type=submit]:hover {
                    background: $primary-color;
                    color: $secondary-color;
                }
            }
        }
    }
}

.section-header {
    font-size: 38px;
    display: block;
}

.section-header::before {
    content: '';
    width: 70px;
    height: 50px;
    border: 2px solid black;
    position: absolute;
    transform: translateX(-10px)
}

@media (min-width: 700px) {
    .menu {
        width: 40vw;
    }
}

@media (min-width: 1250px) {

    .tutorials {
        height: 60vh;
    }

    .contact-wrapper {
        width: 80vw;
        height: 70vw;
        margin: 30vw auto 10px auto;
    }

    .menu {
        width: 30vw;
    }
}

@media (min-width: 1400px) {
    .contact-wrapper {
        width: 70vw;
        height: 50vw;
        padding: 0;
    }
    .menu {
        width: 20vw;
    }
}

